/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap') */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Header style  */
.MyNav{
    text-transform: uppercase;
}
.MyNav a{
    padding: 6px 20px;
    transition: 0.3s;
    border-radius: 25px;
    box-shadow: inset -0px -2px 6px;
}
.MyNav a:hover, .MyNav a.active{
    color: #00ffff;
    box-shadow: inset -0px -4px 5px;
}


/* welcme banner style  */
.MyBanner{
    background: linear-gradient(#01257D, #00d5ff43), url('../src/assets/img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* error style  */
.MyError{
    background: linear-gradient(#01257D, #00d5ff43), url('../src/assets/img/error.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* page banner style  */
.MyPageBanner{
    background: linear-gradient(#01257D, #00d5ff43), url('../src/assets/img/pageB-3.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* in about > what offer section style  */
.MyOffer{
    background:linear-gradient(#eeffff, #eaeaff5a), url('../src/assets/img/whatOffer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.MyOfferCard{
    box-shadow: inset 1px 1px 15px #01257D55;
    padding: 25px 10px;
    text-align: center;
    background: #fff4;
    transition: 0.3s;
}
.MyOfferCard:hover{
    box-shadow: inset 2px 2px 15px #01257D68, inset -2px -1px 5px #01257D30;
    transform: translateY(-10px);
}
.CardIcon{
    transition: 0.3s;
}
.MyOfferCard:hover .CardIcon{
    transform: rotate(360deg);
    font-size: 50px;
}

/* registaion pages style  */
.MyReg{
    background: linear-gradient(#01257D, #00d5ff43), url('../src/assets/img/resistation.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}